body {
    font-family: 'Osaka-Mono';
    background-size: 504.7px 387.1px;
    background-image: url(../img/bg.png);
}
/* @media screen and (orientation: landscape) {} */
.board {
    border-collapse:collapse;
    table-layout: fixed;
    border: 0px solid;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 70vh;
    height: 77vh;
}
#board {
    background-size: 70vh 77vh;
    background-image: url(../img/ban.png);
    opacity: 1.0;
}
#board td {
    border: 0.2vh solid rgb(100, 30, 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 6.5vh 7.3vh;
}
.board .lrside {
    width: 1.3vh;
    background-color: rgb(100, 30, 0);
    opacity: 0.4;
}
.board .udside {
    height: 1.3vh;
    background-color: rgb(100, 30, 0);
    opacity: 0.4;
}
.komadai {
    border-collapse:collapse;
    table-layout: fixed;
    border: 0px solid;
    width: 25vh;
    height: 27.4vh;
    opacity: 1.0;
}
.komadai .lrside {
    width: 1.3vh;
    background-color: rgb(59, 0, 0);
}
.komadai .udside {
    height: 1.3vh;
    background-color: rgb(59, 0, 0);
}
#board_mask {
    visibility: hidden;
    opacity: 1.0;
}
#board_mask td {
    border: 0.2vh solid rgb(100, 30, 0);
    background-position: center center;
    background-repeat: no-repeat;
}
.komadai td {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 6.5vh 7.3vh;
}
#komadai_gote {
    position: absolute;
    left: calc(50vw - 35vh - 14vh);
    top: 25vh;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-image: url("../img/komadai_neg.png");
}
#komadai_gote td[data-num="0"] {
    visibility: hidden;
}
#komadai_gote td[data-num="1"]::before {
    visibility: hidden;
}
#komadai_gote td::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    content: attr(data-num);
    width: 3vh;
    height: 3vh;
    box-sizing: border-box;
    padding: 0.35vh;
    font-size: 1.5vh;
    font-weight: bold;
    background-color: coral;
    border: 0.1vh solid #fff;
    border-radius: 1.5vh;
    bottom: 0.2vh;
    right: 0.7vh;
    transform: translate(150%, 90%);
    z-index: 1;
}
#komadai_gote_mask {
    visibility: hidden;
    position: absolute;
    left: calc(50vw - 35vh - 14vh);
    top: 25vh;
    transform: translate(-50%, -50%);
}
#komadai_sente {
    position: absolute;
    left: calc(50vw + 35vh + 14vh);
    top: 75vh;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-image: url("../img/komadai_pos.png");
}
#komadai_sente td[data-num="0"] {
    visibility: hidden;
}
#komadai_sente td[data-num="1"]::before {
    visibility: hidden;;
}
#komadai_sente td::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    content: attr(data-num);
    width: 3vh;
    height: 3vh;
    box-sizing: border-box;
    padding: 0.35vh;
    font-size: 1.5vh;
    font-weight: bold;
    background-color: coral;
    border: 0.1vh solid #fff;
    border-radius: 1.5vh;
    bottom: 0.2vh;
    right: 0.7vh;
    transform: translate(150%, 90%);
    z-index: 1;
}
#komadai_sente_mask {
    visibility: hidden;
    position: absolute;
    left: calc(50vw + 35vh + 14vh);
    top: 75vh;
    transform: translate(-50%, -50%);
}
#SHI {
    background-image: url(../img/HI_pos.png);
}
#SKA {
    background-image: url(../img/KA_pos.png);
}
#SKI {
    background-image: url(../img/KI_pos.png);
}
#SGI {
    background-image: url(../img/GI_pos.png);
}
#SKE {
    background-image: url(../img/KE_pos.png);
}
#SKY {
    background-image: url(../img/KY_pos.png);
}
#SFU {
    background-image: url(../img/FU_pos.png);
}
#GHI {
    background-image: url(../img/HI_neg.png);
}
#GKA {
    background-image: url(../img/KA_neg.png);
}
#GKI {
    background-image: url(../img/KI_neg.png);
}
#GGI {
    background-image: url(../img/GI_neg.png);
}
#GKE {
    background-image: url(../img/KE_neg.png);
}
#GKY {
    background-image: url(../img/KY_neg.png);
}
#GFU {
    background-image: url(../img/FU_neg.png);
}
#nari_window {
    visibility: hidden;
    border-collapse:collapse;
    table-layout: fixed;
    border: 0px solid;
    width: 15vh;
    height: 8.27vh;
    position: absolute;
}
#nari_window td {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 6.5vh 7.3vh;
}
#NARI {
    background-color:  coral;
    box-shadow: 0 0 3vh coral;
}
#NARAZU {
    background-color: cornflowerblue;
    box-shadow: 0 0 3vh cornflowerblue;
}

#kifu_table {
    border-collapse: separate;
    border: 1vh solid rgb(10, 10, 10);
    border-radius: 2vh;
    background-color: rgb(27, 27, 27);
    width: 20vh;
    position: absolute;
    left: calc(50vw + 37.5vh);
    top: 13vh;
}

#kifu_table thead {
    display: block;
    font-size: 1.8vh;
    color: rgb(197, 213, 226);
}

#kifu_tbody {
    display: block;
    border-collapse: collapse;
    height: 22vh;
    font-size: 1.8vh;
    color: rgb(197, 213, 226);
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
}

#kifu_table td {
    text-align: center;
    vertical-align: middle;
    width: 15vh;
}

#kifu_tbody .even {
    background-color: rgb(37, 37, 37);
}

#kifu_table th {
    text-align: center;
    vertical-align: middle;
    width: 5vh;
}

#kill_effect {
    visibility: hidden;
    position: absolute;
    width: 20vh;
    height: 20vh;
    mix-blend-mode: screen;
    z-index: 200;
}

#nari_effect {
    visibility: hidden;
    position: absolute;
    width: 15vh;
    height: 15vh;
    mix-blend-mode: screen;
    z-index: 200;
}

#normal_effect {
    visibility: hidden;
    position: absolute;
    width: 15vh;
    height: 15vh;
    mix-blend-mode: screen;
    z-index: 200;
}

.board_effect {
    visibility: hidden;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 100vw;
    opacity: 0.9;
    z-index: 300;
}