@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP&display=swap');
:root{
  --shogi--root-theme: rgb(183, 194, 64);
  --shogi--root-accent_1: rgb(198, 85, 185);
  --shogi--root-accent_2: rgb(65, 185, 195);
}
html, body{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}
.shogi--serif{
  font-family: 'Noto Serif JP', serif;
}